In [15]:
import os
os.getcwd()

# import pandas as pd
# df=pd.read_csv('Book1.csv')
# df

'C:\\Users\\Vision\\Desktop\\data_science_documents'

In [22]:
import pandas as pd
df=pd.read_csv('Book1.csv')
df

      Unnamed: 0         day  temperature  windspeed  event
0            NaN  01-01-2017         32.0        6.0   Rain
1            NaN  01-02-2017         35.0        7.0  Sunny
2            NaN  01-03-2017         28.0        2.0   Snow
3            NaN  01-04-2017         24.0        7.0   Snow
4            NaN  01-05-2017         32.0        4.0   Rain
5            NaN  01-06-2017         31.0        2.0  Sunny
6  Give feedback         NaN          NaN        NaN    NaN

In [23]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df= pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [28]:
df.shape

row, column=df.shape
row
column

4

In [32]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [33]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [34]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [35]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [36]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [39]:
df['event']
df
type(df['event'])

pandas.core.series.Series

In [40]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [42]:
df['temperature'].max()

35

In [43]:
df['temperature'].min()

24

In [44]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [45]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [47]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [48]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [50]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.set_index('day', inplace=True)

In [63]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [64]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [ ]:
df.set_index('event', inplace=True)

In [68]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [70]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [65]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny